@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --color-primary: #541aa6;
  --color-primary-light: rgba(84, 26, 166, 0.1);
  --color-primary-dark: rgba(84, 26, 166, 0.9);
  --text-color-title: #051114;
  --text-color-subtitle: #51565E;
  --shadow-color: rgba(196,185,228, 1);
  --grey-bg: #EEEEEE;
}