@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --color-primary: #5319A6;
  --color-primary-light: #F2EBFB;
  --text-color-title: #051114;
  --text-color-subtitle: #51565E;
  --shadow-color: rgba(196,185,228, 1);
  --grey-bg: #EEEEEE;
}